[v-cloak] {
    display: none;
}
.cl:after,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.cl,
.clearfix {
    zoom: 1
}
.login-body{
    background-color: #091f50;
}
.login{
    width: 300px;
    margin: 150px auto 100px;
    color: #fff;
    top: 40%;
}
.login-copyright{
    text-align: center;
    color: #fff;
}
.login-error{
    display: none;
}
.login-error .help-block{
    color: #a94442;
}
.iframe-main{
    padding: 20px 15px;
}
textarea{
    resize: none;
}
.pagination{
    float: right;
}
.mt{
    margin-top: 15px;
}
.mb{
    margin-bottom: 15px;
}
.error .help-block{
    color: #a94442;
}