<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
          content="天津广川科技-是一家拥有多渠道运营团队的第三方服务公司，提供全网营销一体化管理系统。主要提供：淘宝、天猫、京东店铺托管，店铺装修，产品拍摄，视觉设计，微信代运营等服务。服务热线：022-27158289">
    <meta name="keywords" content="天津代运营，天津网店代运营，天津淘宝托管，天猫店铺托管，京东店铺代运营，天津微信代运营，淘宝店铺装修，淘宝产品拍摄，天津企业网站建设">
    <title>天津广川科技有限公司管理后台</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link href="{$Think.config.Css}dpl-min.css" rel="stylesheet">
    <link href="{$Think.config.Css}bui-min.css" rel="stylesheet">
    <link href="{$Think.config.Css}main-min.css" rel="stylesheet">
</head>

<body>
<div class="header">
    <div class="dl-title"><span class="">广川科技后台管理</span></div>
    <div class="dl-log">欢迎您，<span class="dl-log-user">{$user['nick_name']}</span>
        <a href="javascript:;" title="退出系统" class="dl-log-quit" id="logout">[退出]</a>
    </div>
</div>
<div class="content">
    <div class="dl-main-nav">
        <ul id="J_Nav" class="nav-list ks-clear">
            <li class="nav-item dl-selected">
                <div class="nav-item-inner nav-home">系统管理</div>
            </li>
            <li class="nav-item">
                <div class="nav-item-inner nav-inventory">文章管理</div>
            </li>
            <li class="nav-item">
                <div class="nav-item-inner nav-inventory">素材管理</div>
            </li>
        </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>

</div>
<script type="text/javascript" src="{$Think.config.Common}jquery.min.js"></script>
<script type="text/javascript" src="{$Think.config.Common}layer/layer.js"></script>
<script type="text/javascript" src="{$Think.config.Js}bui-min.js"></script>
<script type="text/javascript" src="{$Think.config.Js}main-min.js"></script>
<script type="text/javascript" src="{$Think.config.Js}config-min.js"></script>
<script>
    BUI.use('main', function () {
        var config = [{
            id: 'system',
            homePage: 'statistics',
            menu: [{
                text: '系统管理',
                items: [{
                    id: 'role',
                    text: '角色管理',
                    href: ''
                }, {
                    id: 'user',
                    text: '用户管理',
                    href: '/admin/user/'
                }, {
                    id: 'menu',
                    text: '菜单管理',
                    href: ''
                }, {
                    id: 'statistics',
                    text: '网站统计',
                    href: ''
                }, {
                    id: 'set',
                    text: '网站设置',
                    href: '/admin/siteset/'
                }]
            }]
        }, {
            id: 'article',

            menu: [{
                text: '文章管理',
                items: [{
                    id: 'article-query',
                    text: '文章查询',
                    href: ''
                }]
            }]
        }, {
            id: 'material',
            menu: [{
                text: '素材管理',
                items: [{
                    id: 'material-query',
                    text: '素材查询',
                    href: ''
                }]
            }]
        }];
        new PageUtil.MainPage({
            modulesConfig: config
        });
    });

    $("#logout").click(function () {

        layer.confirm('您确定要退出？', {
            btn: ['退出', '取消'] //按钮
        }, function () {
            $.ajax({
                url: '/admin/login/logout',
                dataType: 'json',
                type: 'post',
                success: function (data) {
                    if (data.status == '0008') {
                        window.location.href = '/admin/login/';
                    }
                },
                error: function (err) {

                }
            })
        }, function () {
            layer.closeAll();
        });


    })
</script>
</body>

</html>